<div class="inner-container">
  <h3>
    You've received feedback from Zohair!
  </h3>
  <p>
    Hi Zohair,
  </p>
  <p>
    Amy from project Sawal has asked for your feedback regarding her latest performance! Check out his thoughts below:
  </p>
  <p>
    "Hey Zohair, I would love some feedback regarding the latest product launch for Sawal!. I'm hoping to continue
    serving your organization"
  </p>
  <h5>
    To provide feedback to Amy, Click 
    <a href="#">
      here
    </a>
    !
  </h5>
  <div class="new-react-version">
    <div class="react-svg-logo">
    </div>
  </div>
  <button class="button">
    Try it today
  </button>
   
  <span class="icon-send">
  <i class="fas fa-reply"></i>
  </span>
</div>

