<div data-container="" class="trillo-container trillo-item-design-mode trillo-main-container main-container" name=
"mainContainer" nm="mainContainer" style="display: flex; flex-direction: column; flex-grow: 1;">
  <div>
    <div class="div-right">
      <a href="#">
        View in browser
      </a>
    </div>
    <h3>
      Sawal
    </h3>
  </div>
  <div class="inner-container" for-view="innerContainer">
    <h3>
      You've received feedback from Zohair!
    </h3>
    <p>
      Hi Zohair,
    </p>
    <p>
      Amy from project Sawal has asked for your feedback regarding her latest performance! Check out his thoughts
      below:
    </p>
    <p>
      "Hey Zohair, I would love some feedback regarding the latest product launch for Sawal!. I'm hoping to continue
      serving your organization"
    </p>
    <h5>
      To provide feedback to Amy, Click 
      <a href="#">
        here
      </a>
      !
    </h5>
    <div class="new-react-version">
      <div class="react-svg-logo">
      </div>
    </div>
    <button class="button">
      Try it today
    </button>
     
    <span class="icon-send">
    <i class="fas fa-reply"></i>
    </span>
  </div>
  <div class="footer">
    <p>
      <span></span>
      <a href="#">
        Unsubscribe from this list
      </a>
      <span style="margin-left:50px;"></span>
      <a href="#">
        Update subscription preferences
      </a>
    </p>
    <p>
      Copyright @ 2018 YourCompany, All rights reserved.
      <br>
       300, 219 - 24th SW, Montreal, Quebec, T4S BD6, Canada.
    </p>
  </div>
</div>

